body {
    color:rgb(255, 255, 218);
    text-transform: uppercase;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 29px;
}

div {
    text-align: center;
    padding-bottom: 22px;
    margin:auto
}
h3{
    font-size: 25px;
}
p{
    font-size: 22px;
    text-transform: none;
}

.sample-container {
    width: 60%;
    max-width: 1000px;
    background-color: rgba(66, 66, 66, 0.747);
    border-radius: 20px;
    padding: 12px;

}

@media only screen and (max-width: 768px) {
    .sample-container {
        width: 80%;
        padding: 10px;
    
    }
    h1 {
        font-size: 20px;
    }
    
    div {
        text-align: center;
        padding-bottom: 22px;
        margin:auto
    }
    h3{
        font-size: 18px;
    }
    p{
        font-size: 14px;
        text-transform: none;
    }
}



@media only screen and (max-width: 375px) {

    .sample-container {
        width: 90%;
        padding: 8px;
    
    }

    h1 {
        font-size: 18px;
    }
    
    div {
        text-align: center;
        padding-bottom: 22px;
        margin:auto
    }
    h3{
        font-size: 14px;
    }
    p{
        font-size: 12px;
        text-transform: none;
    }
    
}